<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>
<div class="text">
  <button onclick="Text()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >Import random</button>
</div>
<div class="random">
<p>Yoy random number: </p>
</div>
<script>
  var text= $(".random").text()
    function Text() {
        $("button").hide();
        $.get("/random", function(data){
          $(".random").text(text+data);
     });
}
</script>
</body>


